@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
/* font-family: 'Rubik', sans-serif; */

#map {
  height: 600px;
  z-index: -1;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

/* root-relative design pattern */
html {
  box-sizing: border-box;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
p {
  margin: 0 0 0.5rem 0;
}
:root {
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
}
/*write media query for mobile devices*/
@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }

  body > .infoBar {
    flex-direction: column;
    top: 34%;
    padding: 0.5rem;
    min-width: 20rem;
    align-items: center;
  }
  .infoBar > hr{
    display: none;
  }
  .infoBar__infoCard{
    text-align: center;
    margin-bottom: 0.4rem;
  }
  .infoBar__infoCard > p{
    margin: 0;
  }
  body > .header {
    padding: 0.4rem;
    min-height: 17rem;
    align-items: center;
    justify-content: center;
  }
  body > .header > h1{
    text-align: center;
    margin-bottom: 0.8rem;
  }
  .searchIp > input{
    min-width: 0.8rem !important;
  }
}
/* write media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  html {
    font-size: 20px;
  }
  body > .infoBar {
    top: 30%;
  }
}
/* write media query for desktops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 20px;
  }
  body > .infoBar {
    top: 30%;
  }
}

.header {
  background-image: url("../images/pattern-bg-desktop.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  min-height: 7rem;
}
.header > h1 {
  color: azure;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.searchIp > input {
  border-radius: 5px 0 0 5px;
  border: none;
  padding: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  min-width: 350px;
}
.searchIp > input:focus {
  outline: none;
}
.searchIp > button {
  border-radius: 0 5px 5px 0;
  border: none;
  padding: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  background-color: var(--Very-Dark-Gray);
  color: azure;
}
.searchIp > button::placeholder {
  color: var(--Dark-Gray);
  font-size: 1rem;
}
.searchIp > button:hover {
  cursor: pointer;
}
.infoBar__infoCard > p {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
  color: var(--Dark-Gray);
}
.infoBar__infoCard > h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--Very-Dark-Gray);
}
.infoBar {
  /* border: 2px solid black; */
  background-color: azure;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border-radius: 0.5rem;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.infoBar__infoCard {
  padding: 0 0.8rem 0 0.8rem;
}
hr {
  color: var(--Dark-Gray);
  border-radius: 1rem;
  margin: 1rem;
  opacity: 60%;
}
