<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IP Address Tracker</title>
</head>
<body>
  <div class="header">
    <div class="searchIp">
      <input type="text">
    </div>
  </div>
  <div class="infoBar">
    <div class="ipAddress infoBar__infoCard"></div>
    <div class="location infoBar__infoCard"></div>
    <div class="timezone infoBar__infoCard"></div>
    <div class="isp infoBar__infoCard"></div>
  </div>
  <div class="map">
    <div class="map__container"></div>
  </div>
</body>
</html>